---
title: User Verification
---
### Specification

```json
{
  "id": "user-verification",
  "content": "https://zeropass.example/requirements/webauthn/user-verification",
  "domain": "uv-required",
  "scope": "Relationship",
  "appliedTo": "user-browser-to-roaming-security-key-authentication"
}
```